<form>
  <div class="container-fluid mt-4">
    <button class="btn-primary m-3" (click)="clickStart()">start</button>
    <button class="btn-danger m-3" (click)="clickStop()">stop</button>
    <button class="btn-dark m-3" (click)="clickReset()">reset</button>

    <div class="flex-row justify-content-between">
      <input type="text">
      <div class="form-check">
        <input type="radio" class="form-check-input" name="radio" id="radio" value="option1" checked>
        <label for="radio" class="form-check-label">Red</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="radio" id="radio2" value="option2">
        <label for="radio2" class="form-check-label">Black</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="radio" id="radio3" value="option3">
        <label for="radio3" class="form-check-label">Zero</label>
      </div>
    </div>
    <div>
      <p>Balance: <strong>{{ balance }}</strong> </p>
    </div>

    <div *ngFor="let numbers of numbersArray; let i = index"
         appColor="{{ numbers }}"
    >{{ numbers }}</div>
  </div>


</form>


